In [1]:
# ECommerce_Return_Rate_Analysis

In [2]:
import pandas as pd

# Load the dataset
df = pd.read_csv("ecommerce_returns_synthetic_data.csv")

In [3]:
# Show first 5 rows
print("Sample Data:")
print(df.head(), "Limit to 5")

Sample Data:
      Order_ID    Product_ID       User_ID  Order_Date Return_Date  \
0  ORD00000000  PROD00000000  USER00000000  05-08-2023  26-08-2024
1  ORD00000001  PROD00000001  USER00000001  09-10-2023  09-11-2023
2  ORD00000002  PROD00000002  USER00000002  06-05-2023         NaN
3  ORD00000003  PROD00000003  USER00000003  29-08-2024         NaN
4  ORD00000004  PROD00000004  USER00000004  16-01-2023         NaN

  Product_Category  Product_Price  Order_Quantity Return_Reason Return_Status  \
0         Clothing         411.59               3  Changed mind      Returned
1            Books         288.88               3    Wrong item      Returned
2             Toys         390.03               5           NaN  Not Returned
3             Toys         401.09               3           NaN  Not Returned
4            Books         110.09               4           NaN  Not Returned

   Days_to_Return  User_Age User_Gender User_Location Payment_Method  \
0           387.0        58        Male        City54     Debit Card
1            31.0        68      Female        City85    Credit Card
2             NaN        22      Female        City30     Debit Card
3             NaN        40        Male        City95         PayPal
4             NaN        34      Female        City80      Gift Card

  Shipping_Method  Discount_Applied
0        Next-Day             45.27
1         Express             47.79
2        Next-Day             26.64
3        Next-Day             15.37
4        Standard             16.37   Limit to 5

In [4]:
# Check column names and data types
print("\nColumn Info:")
print(df.info())

Column Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order_ID          10000 non-null  object
 1   Product_ID        10000 non-null  object
 2   User_ID           10000 non-null  object
 3   Order_Date        10000 non-null  object
 4   Return_Date       5052 non-null   object
 5   Product_Category  10000 non-null  object
 6   Product_Price     10000 non-null  float64
 7   Order_Quantity    10000 non-null  int64
 8   Return_Reason     5052 non-null   object
 9   Return_Status     10000 non-null  object
 10  Days_to_Return    5052 non-null   float64
 11  User_Age          10000 non-null  int64
 12  User_Gender       10000 non-null  object
 13  User_Location     10000 non-null  object
 14  Payment_Method    10000 non-null  object
 15  Shipping_Method   10000 non-null  object
 16  Discount_Applied  10000 non-null  float64
dtypes: float64(3), int64(2), object(12)
memory usage: 1.3+ MB
None

In [5]:
# Check missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
Order_ID               0
Product_ID             0
User_ID                0
Order_Date             0
Return_Date         4948
Product_Category       0
Product_Price          0
Order_Quantity         0
Return_Reason       4948
Return_Status          0
Days_to_Return      4948
User_Age               0
User_Gender            0
User_Location          0
Payment_Method         0
Shipping_Method        0
Discount_Applied       0
dtype: int64

In [6]:
# Handling null cells
df['Return_Reason'] = df['Return_Reason'].fillna('Not Returned')
df['Days_to_Return'] = df['Days_to_Return'].fillna(0)
df['Return_Date'] = df['Return_Date'].fillna('N/A')

In [7]:
# Check basic statistics
print("\nSummary Statistics:")
print(df.describe(include='all'))

Summary Statistics:
           Order_ID    Product_ID       User_ID  Order_Date Return_Date  \
count         10000         10000         10000       10000       10000
unique        10000         10000         10000         731         730
top     ORD00009983  PROD00009983  USER00009983  14-03-2024         N/A
freq              1             1             1          26        4948
mean            NaN           NaN           NaN         NaN         NaN
std             NaN           NaN           NaN         NaN         NaN
min             NaN           NaN           NaN         NaN         NaN
25%             NaN           NaN           NaN         NaN         NaN
50%             NaN           NaN           NaN         NaN         NaN
75%             NaN           NaN           NaN         NaN         NaN
max             NaN           NaN           NaN         NaN         NaN

       Product_Category  Product_Price  Order_Quantity Return_Reason  \
count             10000   10000.000000    10000.000000         10000
unique                5            NaN             NaN             5
top               Books            NaN             NaN  Not Returned
freq               2041            NaN             NaN          4948
mean                NaN     252.369307        3.006100           NaN
std                 NaN     142.883865        1.406791           NaN
min                 NaN       5.010000        1.000000           NaN
25%                 NaN     128.650000        2.000000           NaN
50%                 NaN     250.445000        3.000000           NaN
75%                 NaN     377.837500        4.000000           NaN
max                 NaN     499.890000        5.000000           NaN

       Return_Status  Days_to_Return      User_Age User_Gender User_Location  \
count          10000    10000.000000  10000.000000       10000         10000
unique             2             NaN           NaN           2           100
top         Returned             NaN           NaN      Female        City81
freq            5052             NaN           NaN        5052           126
mean             NaN        0.734400     44.195000         NaN           NaN
std              NaN      211.789658     15.311983         NaN           NaN
min              NaN     -719.000000     18.000000         NaN           NaN
25%              NaN       -2.250000     31.000000         NaN           NaN
50%              NaN        0.000000     44.000000         NaN           NaN
75%              NaN        6.000000     57.000000         NaN           NaN
max              NaN      726.000000     70.000000         NaN           NaN

       Payment_Method Shipping_Method  Discount_Applied
count           10000           10000      10000.000000
unique              4               3               NaN
top         Gift Card        Next-Day               NaN
freq             2537            3394               NaN
mean              NaN             NaN         24.992162
std               NaN             NaN         14.363396
min               NaN             NaN          0.000000
25%               NaN             NaN         12.752500
50%               NaN             NaN         24.840000
75%               NaN             NaN         37.605000
max               NaN             NaN         50.000000

In [8]:
# Check missing values
print("\nMissing Values:")
print(df.isnull().sum())

Missing Values:
Order_ID            0
Product_ID          0
User_ID             0
Order_Date          0
Return_Date         0
Product_Category    0
Product_Price       0
Order_Quantity      0
Return_Reason       0
Return_Status       0
Days_to_Return      0
User_Age            0
User_Gender         0
User_Location       0
Payment_Method      0
Shipping_Method     0
Discount_Applied    0
dtype: int64

In [11]:
df.to_csv("C:\\Users\\SHIVANI\\Documents\\Shivani Data Analytics\\ecommerce_returns.csv", index=False)